body{
  font-family:Arial,Helvetica,sans-serif;
  background:#e5e7eb;
  margin:0;
  padding:20px
}

#fsBtn{
  position:fixed;
  top:10px;
  right:10px;
  z-index:9999;
  padding:10px 14px;
  border:none;
  border-radius:8px;
  background:#111827;
  color:#fff
}

.container{
  max-width:950px;
  background:#fff;
  margin:auto;
  padding:30px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,.1)
}

h1{
  text-align:center;
  margin-bottom:5px
}

.info{
  text-align:center;
  color:#555;
  margin-bottom:25px
}

.question{
  border:1px solid #e5e7eb;
  border-radius:10px;
  padding:15px 20px;
  margin-bottom:15px
}

.question p{
  font-weight:600
}

label{
  display:block;
  margin:6px 0;
  cursor:pointer
}

.correct{
  color:green;
  font-weight:bold
}

.wrong{
  color:red;
  font-weight:bold
}

button{
  width:100%;
  padding:14px;
  font-size:16px;
  background:#1d4ed8;
  color:#fff;
  border:none;
  border-radius:10px;
  cursor:pointer;
  margin-top:25px
}

.result{
  text-align:center;
  font-size:22px;
  margin-top:25px
}

@media(max-width:768px){
  body{padding:5px}
  .container{
    padding:15px;
    border-radius:0;
    max-width:100%
  }
}
